---
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Title.astro';
import Podium from '../../components/Podium.astro';
import Leaderboard from '../../components/Leaderboard.astro';
import BeatmapLeaderboard from '../../components/BeatmapLeaderboard.astro';

import { totalScores, beatmapScores } from './_mania_score_data.json';

const sortedTotalScores = totalScores.sort((a,b) => b.score - a.score);

const sortedBeatmapScores = beatmapScores
    .sort((a,b) => b.scores.length - a.scores.length)
    .map(game => ({
      ...game,
      scores: game.scores.sort((a,b) => b.score - a.score),
    }));

---

<Layout title="osu! Event #1 (mania)">
    <Title>
        <a class="underline" href="/event-1">osu! Event #1</a> (mania)
    </Title>

    <p class="mb-8">
        In this event players were crushing 1-3* maps (osu!mania).
        This was not a serious competition, but here's something for bragging rights.
        Hopefully we'll see more people next time!
    </p>

    <div class="mb-8">
        <Podium
            playerScore1={sortedTotalScores[0]}
            playerScore2={sortedTotalScores[1]}
            playerScore3={sortedTotalScores[2]}
        />
    </div>

    <div class="mb-8">
        <div class="text-xl p-4 font-bold">Overall scores</div>
        <Leaderboard scores={sortedTotalScores}/>
    </div>

    <div class="text-xl p-4 font-bold">Individual beatmap scores</div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {sortedBeatmapScores.map((beatmapScores) => 
            <BeatmapLeaderboard beatmap={beatmapScores.beatmap} scores={beatmapScores.scores}/>
        )}
    </div>
</Layout>