---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import Podium from "../../components/Podium.astro";
import Leaderboard from "../../components/Leaderboard.astro";
import BeatmapLeaderboard from "../../components/BeatmapLeaderboard.astro";

import { totalScores, beatmapScores } from "./_score_data.json";

const sortedTotalScores = totalScores.sort((a, b) => b.score - a.score);

const sortedBeatmapScores = beatmapScores.map((game) => ({
    ...game,
    scores: game.scores.sort((a, b) => b.score - a.score),
}));
---

<Layout title="osu! Event #3 - Rhythm of the Past">
    <Title> osu! Event #3 - Rhythm of the Past </Title>

    <p class="mb-8">
        The third osu! Game Discord Event, held on 2024-02-17, where we
        celebrated osu!lazer enabling PP. 20 different maps were played as we
        revisited old, historic, iconic or otherwise notable maps, discussed
        some osu! history between maps and had a lot of fun. The event took ~2.5
        hours.
    </p>

    <div class="mb-8">
        <Podium
            playerScore1={sortedTotalScores[0]}
            playerScore2={sortedTotalScores[1]}
            playerScore3={sortedTotalScores[2]}
        />
    </div>

    <div class="mb-8">
        <div class="text-xl p-4 font-bold">Overall scores</div>
        <Leaderboard scores={sortedTotalScores} />
    </div>

    <div class="text-xl p-4 font-bold">Individual beatmap scores</div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {
            sortedBeatmapScores.map((beatmapScores) => (
                <BeatmapLeaderboard
                    beatmap={beatmapScores.beatmap}
                    scores={beatmapScores.scores}
                    mode="osu"
                />
            ))
        }
    </div>
</Layout>
